/************* 
  GLOBAL
*************/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap");
.container {
  padding-inline: 0.5rem;
  margin-inline: auto;
}

html {
  font-family: Merriweather, serif !important;
}
